{% extends '::base.html.twig' %}
{% block body %}
<h1>{% trans %}Create new post{% endtrans %}</h1>

<form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="info-box">
        <a href="{{ path('tag_new') }}">Add new tag</a>
    </div>
    <p>
        <button type="submit">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

        <a href="{{ path('posts') }}">
            {% trans %}back{% endtrans %}
        </a>
{% endblock %}
