{% extends '::base.html.twig' %}
{% block body %}
    <h1>Comment list</h1>

    <table class="table">

        <tbody>
        {% for entity in entities %}
            <tr
                    {% if entity.isActive == true %}
                        class="success"
                    {% else %}
                        class="warning"
                    {% endif %}
                    >
                <td>
                    <strong>{{ entity.name }}  </strong> posted on {{ entity.createdAt|date('Y-m-d H:i:s') }}<br>
                    {{ entity.text }}
                </td>
                <td>
                    <ul class="unstyled">
                        <li>
                            <i class="icon-remove"></i><a
                                    href="{{ path('comment_delete', { 'id': entity.id }) }}"> {% trans %}
                                delete{% endtrans %}</a>
                        </li>
                        {% if entity.isActive == false %}
                            <li>
                                <i class="icon-ok"></i><a
                                        href="{{ path('comment_activate', { 'id': entity.id }) }}"> {% trans %}
                                    activate{% endtrans %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
